.hidden {
  display: none;
}

figure {
  margin: 0;
  backface-visibility: hidden;
}

.container {
  width: 50px;
  height: 50px;
  position: absolute;
  perspective: 1000px;
}

.cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.cube figure {
  display: block;
  position: absolute;
  width: 46px;
  height: 46px;
  border: 2px solid black;
  line-height: 46px;
  font-size: 46px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.cube .side1  {
          transform: translateZ( 25px );
}
.cube .side2   {
          transform: rotateX( -180deg ) translateZ( 25px );
}
.cube .side3 {
          transform: rotateY(   90deg ) translateZ( 25px );
}
.cube .side4 {
          transform: rotateY(  -90deg ) translateZ( 25px );
}
.cube .side5 {
          transform: rotateX(   90deg ) translateZ( 25px );
}
.cube .side6 {
          transform: rotateX(  -90deg ) translateZ( 25px );
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: black;
  position: absolute;
}

.circle.center {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.circle.circle_2_1 {
  top: 20%;
  left: 20%;
  transform: translateX(-50%) translateY(-50%);
}

.circle.circle_2_2 {
  top:80%;
  left: 80%;
  transform: translateX(-50%) translateY(-50%);
}

.circle.circle_4_2 {
  top: 20%;
  left: 80%;
  transform: translateX(-50%) translateY(-50%);
}

.circle.circle_4_3 {
  top: 80%;
  left: 20%;
  transform: translateX(-50%) translateY(-50%);
}

.circle.circle_6_3 {
  top: 50%;
  left: 20%;
  transform: translateX(-50%) translateY(-50%);
}

.circle.circle_6_4 {
  top: 50%;
  left: 80%;
  transform: translateX(-50%) translateY(-50%);
}

.dice_roller {
  width: 310px;
  height: 150px;
  background-color: blue;
  position: absolute;
  top: 50px;
  background-color:rgba(255,255,255,0.9);
  border: 3px solid black;
  border-radius: 16px;
}

.dice_roller .mod {
  top: 16px;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
}


.dice_roller .text {
  width: 100%;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  top: 70px;
  position: absolute;
}
