.bordered {
  border: 1px solid black;
}

.rounded-border {
  border: 1px solid black;
  border-radius: 15px;
}

.shadowed {
  -webkit-filter: drop-shadow(10px 10px 5px rgba(0,0,0,0.5));
  filter: drop-shadow(10px 10px 5px rgba(0,0,0,0.5));
}

.pole {
  position: absolute;
  width: 107px;
  height: 111px;
}